@page "/math"

<h1>mMathEntity List</h1>

<!---->
<ul>
    <!--@foreach (var math in mathEntities)
    {
        <li>@math.Id: @math.PrintName</li>
    }-->
</ul>

@code {

    /*private List<mMathEntity> mathEntities = new List<mMathEntity>();

    protected override async Task OnInitializedAsync()
    {
        mathEntities = await mysqlMathRepository.GetAllAsync();
    }*/
}
